h1{
	color: black;
	font-size: 30px;
}
h2{
	color: black;
	font-size: 25px;
}
body{
	margin: 0 auto;
	color: white;
	width: 60%;
	align-self: center;
	background-image: url('img/bg.webp');
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat;  
}
ul{
	padding-left: 60px;
	padding-top: 40px;
	background-color: black;
	font-family: arial;
}
li{
	padding-top: 15px;
	background-color: red;
	font-size: 18px;

}
input{
	background-color: red;
}
.my-form {
  color: red;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

form ul {
  list-style-type: none;
  padding: 0;
}

form li {
  color: white;
  margin-bottom: 10px;
}

form input[type="radio"] {
  margin-right: 5px;
}

form input[type="radio"]+label {
  cursor: pointer;
}

form input[type="radio"]:checked+label {
  font-weight: bold;
}
#boton{
	width:200px;
	height: 50px;
	font-size: 20px;
}
